public_nginx/sowa/level1/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by University of Greenwich (University of Greenwich) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="HolidayAccomodation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="address" type="xs:string"/>
	<xs:element name="addtionalDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="kitchen" minOccurs="0"/>
				<xs:element ref="bathroom" minOccurs="0"/>
				<xs:element ref="livingRoom" minOccurs="0"/>
				<xs:element ref="garage" minOccurs="0"/>
				<xs:element ref="carpet" minOccurs="0"/>
				<xs:element ref="latitude" minOccurs="0"/>
				<xs:element ref="longitude" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bathroom" type="xs:string"/>
	<xs:element name="bedroom" type="xs:string"/>
	<xs:element name="carpet" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="distance" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="garage" type="xs:string"/>
	<xs:element name="image">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="imageType" minOccurs="0"/>
				<xs:element ref="imageName" minOccurs="0"/>
				<xs:element ref="imageData"/>
			</xs:sequence>
			<xs:attribute name="imageId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="imageData" type="xs:string"/>
	<xs:element name="imageName" type="xs:string"/>
	<xs:element name="imageType" type="xs:string"/>
	<xs:element name="kitchen" type="xs:string"/>
	<xs:element name="latitude" type="xs:string"/>
	<xs:element name="livingRoom" type="xs:string"/>
	<xs:element name="location" type="xs:string"/>
	<xs:element name="longitude" type="xs:string"/>
	<xs:element name="price" type="xs:string"/>
	<xs:element name="property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price"/>
				<xs:element ref="location"/>
				<xs:element ref="address"/>
				<xs:element ref="bedroom"/>
				<xs:element ref="title"/>
				<xs:element ref="description"/>
				<xs:element ref="distance" minOccurs="0"/>
				<xs:element ref="user"/>
				<xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="addtionalDetails" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="propertyId" type="xs:string" use="required"/>
			<xs:attribute name="db" default="BH">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="BH"/>
						<xs:enumeration value="SW"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="username"/>
				<xs:element ref="email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="username" type="xs:string"/>
</xs:schema>
